nav{
    background-color: var(--cor-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
    width: 30%;
}
.collapse a{
    margin: 3%;
    background-color: var(--cor-7);
    display: flex;
    justify-content: center;
    padding: 4%;
    color: var(--cor-2);
}

.navbar-nav {
    padding: 5% 3% 5% 3%;
    display: flex;
    
    width: 100%;
}

.dropdown-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--cor-3);
    padding: 1%;
    right: 0;
    width: 13%;
    top: 13%;
}

li.nav-item{
    width: 100%;
}